<header class="border-b border-gray-200 bg-gray-50">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between py-8">
      <div>
        <h1 class="text-2xl font-oswald font-semibold text-jex-primary sm:text-3xl">JexJobs</h1>
        <p class="mt-1.5 text-sm text-gray-600 font-quattrocento">
          Find your next career opportunity
        </p>
      </div>
    </div>
  </div>
</header>

<div class="min-h-screen flex flex-col">
  <main class="flex-grow bg-jex-background font-quattrocento">
    <router-outlet />
  </main>

  <footer class="bg-gray-50" role="contentinfo">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-end">


        <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right font-quattrocento">
          Copyright &copy; <time datetime="2024">2024</time> JexJobs. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</div>